@model IEnumerable<RealEstateProject.Models.Branch>
@using RealEstateProject.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Branch</title>
</head>
<body style="background-color:gainsboro">
    <div style="color:darkcyan;font-size:20px">
        <h1 style="color:crimson"><u>Branch Number</u></h1>
        @foreach (Branch branch in Model)
            {
            @Html.ActionLink(branch.BranchNo, "BuildingCount", "Rent", new { @id = branch.BranchNo }, null)
            <br />
        }
    </div>
</body>
</html>
